#title {
    height: 110vh;
    background-color: #ff4c68;
    padding: 0% 15% !important;
    z-index: 1;
}

#titulo {
    font-family: 'Montserrat', sans-serif;
    font-size: 3rem;
    line-height: 1.5;
    color: #fff !important;
    position: relative;
}
#features {
    position: relative;
    transform: translateY(-10%);
    background-color: white;
    z-index: 2;
}
.container-fluid {
    padding: 3% 15%;

}

.navbar {
margin-top: auto;

}
.btn {
    width: 170px;
    padding: 3% 5% !important;  
    margin: 2%;  
}

.navbar-nav {
    position: absolute;
    right: 1px;
    text-align: right;
}
.navbar-brand {
    font-family: 'ubuntu';
    font-size: 2.5rem !important;
    font-weight: bold;
    color: #fff !important;
}

.nav-item {
    padding: 0px 18px;
}
.nav-link {
    font-size: 2.5rem;
    color: #fff !important;
}

.title-img {
    margin: 10% ,20% !important;
    padding: 5% ;
    width: 70%;
    transform: rotate(25deg);
}

body{
    font-family: monospace;
}
h3{
    font-family: 'Montserrat', sans-serif;
    font-weight: 100;
}
p {
    color: #8f8f8f;
}
.icono {
    color: orange;
    margin-bottom: 1rem ;
}

.icono:hover {
    color: rgb(235, 84, 84);
}
.features-section{
    padding: 5% 10%;
    text-align: center;
}

#testimonials {
    padding: 7% 15%;
    text-align: center;
    background-color: #ef8172;
    color: #fff;
}
h2 {
    font-family: 'Montserrat', sans-serif;
    font-size: 3rem;
    line-height: 1.5;
}
.card{
    border-radius: 20px;
    border: 2px solid #ef8172 !important;
    box-shadow: 2px 0px 10px #ef8172;;
    text-align: center;
    margin-bottom: 3%;
}
#pricing {
    
    text-align: center;
    margin-bottom: 3%;
}
.card-header{
    background-color: #ef8172 !important;
}
.testimonials-img {
    margin-top: 5%;
    border-radius: 100%;
    width: 20%;
}
.imagen-perro { 
    width: 250px;
    height: 230px;
    border-radius: 80%;

}
.carousel-indicators {
    transform: translateY(50px);
}
#left {
    transform: translate(-50px, 50px);

}

#right{
    transform: translate(50px, 50px);
}
#press {
    background-color: #ef8172;
    text-align: center;
    padding-bottom: 3%;
}
.press-logo {
    width: 20%;
    margin: 20px;
}

#cta {
    background: linear-gradient(to bottom,#fa9688 20%,#dd4933 80%);
    text-align: center;
}
#pricing-head {
    margin: 5%;
    padding: 5%;
    
}
#cta-header{
    padding: 5%;
}
.titulo-pricing {
    font-size: 40px;
    padding: 5%;
}
.pricing-subtitulo{
    padding: 5%;
    font-size: 20px;
}
.boton {
    margin: 0% -7%;
}
.boton-a{
    position: relative;
    transform: translateY(40px);
}
#footer {
    padding: 5%;
    text-align: center;
    font-size: 20px;
    background-color:#dd4933 ;
    margin-bottom: -21px;

}

@media (max-width: 1028px) {
    #features {
        transform: translateY(0%);
    }
    #title {
        height: 140vh;
        text-align: center;
        font-size: 20px;
    }
    .title-img {
        position: static;
        transform: rotate(0);
    }    
}
@MEDIA (max-width:626px) {
    .boton-a{
        position: relative;
        transform: translateY(0px);
    }

}
